= form_for [@canoe, @crew] do |f|
  .form-group
    = f.label :user_key
    = f.text_field :user_key, class: 'form-control'
    %em email이나 nickname을 넣어 주세요.
    %em 이미 등록된 사용자는 거부됩니다.
  = f.submit '저장', class: 'btn btn-default'
