.bs-component
  .container
    .panel.panel-default
      .panel-heading
        %h4.text-muted
          %i.fa.fa-ship
          = link_to @canoe.title, canoe_home_path(@canoe)
        %h3
          %i.fa.fa-users
          구성원
          - if can?(:accept_crew, @canoe)
            = link_to new_canoe_crew_path(@canoe), class: 'btn btn-danger btn-xs' do
              %i.fa.fa-user-plus
              탑승시키기
      .panel-body
        %ul
          %li
            = user_byline @canoe.user
            %span.label.label-warning 만든이
          - @canoe.crews.exclude_captain.each do |crew|
            %li
              = user_byline crew.user
