.bs-component
  .panel.panel-default
    .panel-heading
      %h4.text-muted
        %i.fa.fa-ship
        = link_to @canoe.title, canoe_home_path(@canoe)
      %h3
        %i.fa.fa-flag
        구성원
        %small
          = link_to new_canoe_crew_path(@canoe) do
            %i.fa.fa-user-plus
    .panel-body
      %ul
        %li
          = @canoe.user.nickname
          %span.label.label-warning 만든이
        - @canoe.crews.each do |crew|
          %li= crew.user.nickname
