.bs-component
  .container
    .row
      .col-md-7
        .panel.panel-default
          .panel-heading
            %h4.text-muted
              %i.fa.fa-flag
              최근 논의
              %small.pull-right
                = link_to new_discussion_path, class: 'btn btn-xs btn-primary' do
                  %i.fa.fa-plus
                  논의 시작하기
          %table.table.table-bordered
            %tbody
              = render @discussions
