.bs-component
  .container
    .page-header
      %h3
        - if params[:list] == 'all'
          %i.fa.fa-cubes
          모든 카누
          %small
            = link_to canoes_path do
              내 카누
        - else
          %i.fa.fa-cubes
          내 카누
          %small
            = link_to canoes_path({list: 'all'}) do
              모든 카누
    .row
      - @canoes.each do |canoe|
        .col-sm-4.col-xs-6
          = render canoe
