.bs-component
  .container
    .panel.panel-default
      .panel-heading
        %h4.text-muted
          %i.fa.fa-ship
          = link_to @canoe.title, canoe_home_path(@canoe)
        %h3
          %i.fa.fa-sign-in
          가입요청
      .panel-body
        %ul
          - @canoe.request_to_joins.each do |req|
            %li
              = user_byline req.user
              - if can?(:accept_crew, @canoe)
                = link_to '승락', accept_canoe_request_to_join_path(canoe_id: @canoe, id: req), method: :post, class: 'btn btn-xs btn-primary'
