= form_for [@canoe, @invitation] do |f|
  .form-group
    = f.label :user_key
    = f.text_field :user_key, class: 'form-control'
    %em email이나 nickname을 넣어 주세요.
  = f.submit '보내기', class: 'btn btn-default'
