.bs-component
  .container
    .panel.panel-default
      .panel-body
        .row
          .col-md-7
            %h4
              %i.fa.fa-comments
              @#{current_user.nickname}
            %ul.media-list
              = render @mentioned_opinions
          / .col-md-5
          /   .panel.panel-default
          /     .panel-heading
          /       %h6.text-muted
          /         %i.fa.fa-rocket
          /         제안
          /     %table.table
          /       %tbody
          /         = render @proposals
