@import "bootstrap-sprockets";
@import "bootswatch/journal/variables";

// collpase navbar
$grid-float-breakpoint: 10000px;

@import "bootstrap";

body { padding-top: 80px; padding-bottom: 80px; }

@import "bootswatch/journal/bootswatch";
@import "iamphill-bootstrap-offcanvas/css/bootstrap.offcanvas";
@import "webui-popover";
@import "swiper";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 768px !important;
}

.change-icon > .fa:nth-child(2) {
  display: none;
}
.change-icon:hover > .fa:nth-child(1) {
  display: none;
}
.change-icon:hover > .fa:nth-child(2) {
  display: inherit;
}
.user-image {
  width: 20px;
  height: 20px;

  h3 & {
    max-width: 30px;
    max-height: 30px;
  }
}
a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

/** components **/
.navbar-brand {
  text-transform: none;
}

.navbar-toggle.offcanvas-toggle {
  display: block;
}

.navbar-nav .open .dropdown-menu.dropdown-menu-canoe{
  position: absolute;
  float: left;
  min-width: 160px;
  margin: 2px 0 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.btn-file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.jumbotron-transparent {
  background: none;
  border: none;
}

.alert-unread {
  background-color: #FFFFDD;
}

.timeline {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;

  &:after {
    content: '';
    width: 0.2em;
    height: 100%;
    position: absolute;
    background-color: #cfcfcf;
    top: 0;
    left: 30px;
  }

  &.timeline-opinion:after {
    top: 64px;
  }

  & .media-body {
    padding-bottom: 30px;
  }

  &:last-child:after {
    display: none;
  }

  &.timeline-activity:first-child:after {
    top: 3px;
  }

  &.timeline-activity:first-child:before {
    content: '\25CF';
    font-size: 0.6em;
    position: absolute;
    color: #cfcfcf;
    top: 0;
    left: 27px;
  }

  &.timeline-activity:last-child:after {
    top: 0;
    display: inline;
    height: 3px;
  }

  &.timeline-activity:last-child:before {
    content: '\25CF';
    font-size: 0.6em;
    position: absolute;
    color: #cfcfcf;
    top: 0;
    left: 27px;
  }
}


@mixin force-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.canoe {
  &__logo {
    width: 100%;
    height: 8em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
  &__count {
    font-size: 11px;
  }
}

.crew {
  &__image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
}

.discussion {
  &__decision__body {
    @include force-break;
  }
  &__newest_proposal_or_opinion__body {
    @include force-break;
  }
}

.reaction {
  &__image {
    max-width: 18px;
    max-height: 18px;
  }
}

.proposal {
  &--highlight {
    background-color: #FFFFDD;
  }
  &__body {
    @include force-break;
  }
}

.opinion {
  &__body {
    @include force-break;
  }
}

.version {
  .change_body {
    @include force-break;
  }
}
