@import "bootstrap-sprockets";
@import "bootswatch/lumen/variables";
@import "bootstrap";

body { padding-top: 80px; padding-bottom: 80px; }

@import "bootswatch/lumen/bootswatch";

.change-icon > .fa:nth-child(2) {
  display: none;
}
.change-icon:hover > .fa:nth-child(1) {
  display: none;
}
.change-icon:hover > .fa:nth-child(2) {
  display: inherit;
}
.user-image {
  width: 20px;
  height: 20px;

  h3 & {
    max-width: 30px;
    max-height: 30px;
  }
}
