@import "bootstrap-sprockets";
@import "bootswatch/journal/variables";

// collpase navbar
$grid-float-breakpoint: 10000px;

@import "bootstrap";

body { padding-top: 80px; padding-bottom: 80px; }

@import "bootswatch/journal/bootswatch";
@import "iamphill-bootstrap-offcanvas/css/bootstrap.offcanvas";
@import "webui-popover";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 768px !important;
}

.change-icon > .fa:nth-child(2) {
  display: none;
}
.change-icon:hover > .fa:nth-child(1) {
  display: none;
}
.change-icon:hover > .fa:nth-child(2) {
  display: inherit;
}
.user-image {
  width: 20px;
  height: 20px;

  h3 & {
    max-width: 30px;
    max-height: 30px;
  }
}

/** components **/
.navbar-brand {
  text-transform: none;
}

.navbar-toggle.offcanvas-toggle {
  display: block;
}

.navbar-nav .open .dropdown-menu.dropdown-menu-canoe{
  position: absolute;
  float: left;
  min-width: 160px;
  margin: 2px 0 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.jumbotron-transparent {
  background: none;
  border: none;
}

.alert-unread {
  background-color: #FFFFDD;
}

.canoe {
  &__logo {
    width: 100%;
    height: 180px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
  &__count {
    font-size: 11px;
  }
}

.crew {
  &__image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
}

.reaction {
  &__image {
    max-width: 18px;
    max-height: 18px;
  }
}

.proposal {
  &--highlight {
    background-color: #FFFFDD;
  }
}
