%li.media[activity](style='margin-top: 5px;')
  .media-left(style='font-size: 28px;')
    %span.fa-stack.fa-lg(style='right: 5px;')
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-thumb-tack.fa-stack-1x.fa-inverse
  .media-body(style='vertical-align: middle')
    @#{activity.owner.nickname}님이 현재 결정 사항을 고쳤습니다.
    %span.text-muted
      %i.fa.fa-clock-o
      = date_f activity.created_at
