.bs-component
  .user-feedback
    %a(href='mailto:canoe@parti.xyz')
      %span.bg-primary(style='padding: 10px; position: fixed; bottom: 0; left: 10px; z-index: 1000; border: 2px solid rgba(47, 47, 47, 0.32);')
        %i.fa.fa-bug
        버그 신고
        &nbsp;
        %i.fa.fa-envelope-o
        canoe@parti.xyz
